<ion-header>
  <ion-navbar>
    <ion-title>{{'PICK_CONTACTS_PAGE_TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="findContact($event)" placeholder="Enter display name"></ion-searchbar>
  <h3 *ngIf="noContactFound">{{'NO_CONTACT_FOUND' | translate}}</h3>
  <ion-item-group *ngFor="let group of groupedContacts">
    <ion-item-divider light>{{group.letter}}</ion-item-divider>
    <ion-item no-lines *ngFor="let contact of group.contacts; let j = index">
      <ion-label>
        <h2>{{contact.value.name}}</h2>
        <p>{{contact.value.preferedPhoneNumber}}</p>
      </ion-label>
      <ion-checkbox item-end [(ngModel)]="contact.checked"></ion-checkbox>
    </ion-item>
  </ion-item-group>
</ion-content>
